<div [hidden]="add" class="container">
  <div class="row" style="padding: 20px">
    <div class="span6" style="float: none; margin: 0 auto;">
      <form (ngSubmit)="onSubmit()" class="form-inline">
        <div class="form-group mb-2">
          <label for="airbnbid" class="sr-only">AirBnB ID</label>
          <input type="text" readonly class="form-control-plaintext" id="airbnbid" value="Search by AirBnB ID">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputAirbnbId" class="sr-only">AirBnB ID</label>
          <input type="number" class="form-control" id="inputAirbnbId" name="airbnbid" placeholder="AirBnB ID" [(ngModel)]="airbnbid" required>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </form>
    </div>
  </div>
</div>

<app-property [hidden]="!add && !propertyFound" [property]="propertyFound" [edit]="!add"></app-property>