<div [hidden]="hideForm" *ngIf="property || !edit" class="pt-4">
  <form>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputOwner">Owner <strong>(Required)</strong></label>
        <input type="text" class="form-control" id="inputOwner" [(ngModel)]="property.owner" name="owner">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address Line 1 <strong>(Required)</strong></label>
      <input type="text" class="form-control" id="inputAddress" [(ngModel)]="property.address.line1" name="line1" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address Line 2 (optional)</label>
      <input type="text" class="form-control" id="inputAddress2" [(ngModel)]="property.address.line2" name="line2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-group">
      <label for="inputAddress3">Address Line 3 (optional)</label>
      <input type="text" class="form-control" id="inputAddress3" [(ngModel)]="property.address.line3" name="line3" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-group">
      <label for="inputAddress4">Address Line 4 <strong>(Required)</strong></label>
      <input type="text" class="form-control" id="inputAddress4" [(ngModel)]="property.address.line4" name="line4" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City <strong>(Required)</strong></label>
        <input type="text" class="form-control" [(ngModel)]="property.address.city" name="city" id="inputCity">
      </div>
      <div class="form-group col-md-3">
        <label for="inputPostcode">Postcode <strong>(Required)</strong></label>
        <input type="text" class="form-control" [(ngModel)]="property.address.postCode" name="postcode" id="inputPostcode">
      </div>
      <div class="form-group col-md-3">
        <label for="inputCountry">Country <strong>(Required)</strong></label>
        <input type="text" class="form-control" [(ngModel)]="property.address.country" name="country" id="inputCountry">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputAirbnbId">AirBnB ID <strong>(Required)</strong></label>
        <input [disabled]="edit" type="number" class="form-control" [(ngModel)]="property.airbnbId" name="airbnbid" id="inputAirbnbId">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputBedrooms">Number of bedrooms <strong>(Required, zero or greater)</strong></label>
        <input type="number" class="form-control" [(ngModel)]="property.numberOfBedrooms" name="bedrooms" id="inputBedrooms">
      </div>
      <div class="form-group col-md-6">
        <label for="inputBathrooms">Number of bathrooms <strong>(Required, one or greater)</strong></label>
        <input type="number" class="form-control" [(ngModel)]="property.numberOfBathrooms" name="bathrooms" id="inputBathrooms">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputIncome">Income Generated <strong>(Required, 0.01 or greater)</strong></label>
        <input type="number" class="form-control" [(ngModel)]="property.incomeGenerated" name="income" id="inputIncome">
      </div>
    </div>
    <div class="form-row col-md-12 mb-3">
      <button (click)="submit()" class="btn btn-primary">Submit</button>
      <button [disabled]="!edit" (click)="showAll()" class="btn btn-primary ml-2">Show All Versions</button>
      <button [disabled]="!edit" (click)="delete()" class="btn btn-danger ml-2">Delete</button>
    </div>
  </form>
</div>

<div *ngIf="showVersions" class="mb-4">
  <div *ngFor="let property of propertyVersions; let i = index" class="mb-2">
    <hr>
    <h3>Version {{ i+1 }}</h3>
    <table text-align="center">
        <tr>
            <th>Owner</th>
            <th>Address</th>
            <th>Income Generated</th>
            <th>AirBnB ID</th>
            <th>Bedrooms</th>
            <th>Bathrooms</th>
        </tr>
      <td>{{ property.owner }}</td>
      <td>
        {{ property.address.line1 }}
         <span *ngIf="property.address.line2"><br> {{ property.address.line2 }}</span>
         <span *ngIf="property.address.line3"><br> {{ property.address.line3 }}</span>
        <br> {{ property.address.line4 }}
        <br> {{ property.address.postCode }}
        <br> {{ property.address.city }}
        <br> {{ property.address.country }}
      </td>
      <td>{{ property.incomeGenerated }}</td>
      <td>{{ property.airbnbId }}</td>
      <td>{{ property.numberOfBedrooms }}</td>
      <td>{{ property.numberOfBathrooms }}</td>
    </table>
  </div>
</div>