<div class="container">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">Hostmaker</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="addClicked()">Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="searchClicked()">Search</a>
      </li>
    </ul>
  </nav>
</div>

<div class="container">
  <app-search [add]="isAdd"></app-search>
</div>